# ==========================
# Ambiente virtual
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# Cache do Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Arquivos de distribuição
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Banco de dados
# ==========================
db.sqlite3
db.sqlite3-journal

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Variáveis de ambiente
# ==========================
.env
.env.*

# ==========================
# Arquivos estáticos
# ==========================
staticfiles/

# ==========================
# Uploads (opcional)
# ==========================
media/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db